<h2>leave your contacts, pls!</h2>

<form action="/home/contacts" method="POST" role="form">
    
   
    <div class="form-group">
      <label>Ваше имя:</label>
      <input name="contact[name]" type="text" class="form-control" style="width: 200px"  placeholder="Сюда имя можно вбить">
    </div>
<br/>
    <div class="form-group">
      <label>E-mail:</label>
      <input name="contact[phonee-mail]" type="Email" class="form-control" placeholder="Контактный E-mail">
    </div>
</form>

